extends ../layouts/layout

block content
  .container
    .image-banner
      img.img-fluid(src="stylesheet/image/banner_image.jpg")


  .container
    section.text-center.my-5
      h2.h1-responsive.font-weight-bold.my-5(style="text-transform: uppercase;") Vở diễn sắp trình chiếu

    .row
      each concert in concerts
        .col-sm-12.col-lg-6
          .card.mt-4.border-2.text-center
            a(href="/concerts/" + concert._id)
              img.card-img-top.concert-img-card-display(src=concert.img_link)
                
            .card-body.text-center
              .concert-title-card-display
                .card-title= concert.title
              .card-text(style="text-align:left;") 
                | Ngày diễn: #{moment(concert.start_date).format('DD/MM/YYYY')} - #{moment(concert.end_date).format('DD/MM/YYYY')}
              .card-text(style="text-align:left;")
                | Xuất diễn #{concert.start_time} - #{concert.end_time}

              .card-text.text-center
                a.btn.btn-primary(href="/concerts/" + concert._id) Xem
  include timelines

  .container.pt-2
    .related-event
      h2.h1-responsive.font-weight-bold.my-5.pb-2.text-center Tin Tức
      .row
        each referral in referrals
          .col-6
            a(href=referral.url) #{referral.title}


  section.artists-page.pt-2
    h2.h1-responsive.font-weight-bold.my-5.pb-2.text-center Nghệ sĩ nhà hát
    
    include artists
    

  //include testimony