extends ../layouts/layout

block content
  .container
    .image-banner
      img.img-fluid(src="stylesheet/image/banner_image.jpg")
  
  .container
    .related-event.pb-5
      h2.font-weight-bold Các tin tức liên quan
      .row
        each referral in referrals
          .col-6
            a(href=referral.url) #{referral.title}

  
  include testimony

  .container
    section.text-center.my-5
      h2.h1-responsive.font-weight-bold.my-5 Vở diễn sắp trình chiếu

    .row
      each concert in concerts
        .col-sm-12.col-lg-6
          .card.mt-4.border-0.text-center
            .card-cover.border-0
              a(href="/concerts/" + concert._id)
                .concert-img-card-display
                  img.cover-image(src=concert.img_link)
            .card-body.text-center
              .concert-title-card-display
                .card-title= concert.title
              .card-text(style="text-align:left;") 
                | Ngày khởi chiếu: #{moment(concert.start_date).format('DD/MM/YYYY')} - #{moment(concert.end_date).format('DD/MM/YYYY')}
              .card-text(style="text-align:left;")
                | Giờ chiếu #{concert.start_time} - #{concert.end_time}