extends ../layouts/layout

block content
  .container
    .image-banner
      img.img-fluid(src="stylesheet/image/banner_image.jpg")
  
  .container
    .related-event
      h3 Tin tức liên quan
      .row
        each referral in referrals
          .col-6
            a(href=referral.url) #{referral.title}

  .container
    .feature-concert
      .jumbotron
        h1.feature-text Vở diễn sắp trình chiếu

    .row
      each concert in concerts
        .col-sm-12.col-lg-6
          .card
            .card-cover
              a(href="/concerts/" + concert._id)
                img.cover-image.w-100(src=concert.img_link)
            .card-body
              .card-title= concert.title
              .card-text(style="text-align:left;") 
                | Ngày khởi chiếu: #{moment(concert.start_date).format('DD/MM/YYYY')} - #{moment(concert.end_date).format('DD/MM/YYYY')}
              .card-text(style="text-align:left;")
                | Giờ chiếu #{concert.start_time} - #{concert.end_time}