extends ../layouts/layout

block content
  .container
    .image-banner
      img.img-fluid(src="stylesheet/image/banner_image.jpg")


  .container
    section.text-center.my-5
      h2.h1-responsive.font-weight-bold.my-5(style="text-transform: uppercase;") Vở diễn sắp trình chiếu

    .row
      each concert in concerts
        .col-sm-12.col-lg-6
          .card.mt-4.border-2.text-center
            a(href="/concerts/" + concert._id)
              img.card-img-top.concert-img-card-display(src=concert.img_link)
                
            .card-body.text-center
              .concert-title-card-display
                .card-title= concert.title
              .card-text(style="text-align:left;") 
                | Ngày diễn: #{moment(concert.start_date).format('DD/MM/YYYY')} - #{moment(concert.end_date).format('DD/MM/YYYY')}
              .card-text(style="text-align:left;")
                | Xuất diễn #{concert.start_time} - #{concert.end_time}

  
  include timelines

  .container.pt-2
    .related-event
      h1.display-4.text-center.pb-2 Tin Tức
      .row
        each referral in referrals
          .col-6
            a(href=referral.url) #{referral.title}



  //include testimony