extends ../layouts/layout

block content
  .container
    .image-banner
      img.img-fluid(src="stylesheet/image/banner_image.jpg")
  
  .container
    .related-event
      h3 Tin tức liên quan
      .row
        .col-6
          a(href="http://vnews.gov.vn/van-hoa-toan-canh-ngay-0462019") Văn hoá toàn cảnh ngày 04/6/2019
        .col-6
          a(href="https://tuoitre.vn/cuoc-chien-chong-ma-tuy-nong-tren-san-kich-20190604095830833.htm") Cuộc chiến chống ma túy... nóng trên sàn kịch
        .col-6
          a(href="https://vnexpress.net/giai-tri/my-uyen-trung-dung-tai-hop-trong-chuyen-tinh-nu-pham-nhan-3931832.html") Mỹ Uyên, Trung Dũng tái hợp trong 'Chuyện tình nữ phạm nhân'
        .col-6
          a(href="https://www.phunuonline.com.vn/van-hoa-giai-tri/chuyen-tinh-nu-pham-nhan-tai-xuat-theo-kieu-moi-157322") Chuyện tình nữ phạm nhân: Tái xuất theo... kiểu mới
        .col-6
          a(href="https://nld.com.vn/van-nghe/my-uyen-toa-sang-voi-nhan-vat-nu-pham-nhan-20190602071931212.htm") Mỹ Uyên tỏa sáng với nhân vật nữ phạm nhân
        .col-6


  .container
    .feature-concert
      .jumbotron
        h1.feature-text Vở diễn sắp trình chiếu

    .row
      each concert in concerts
        .col-sm-12.col-lg-6
          .card
            .card-cover
              a(href="/concerts/" + concert._id)
                img.cover-image.w-100(src=concert.img_link)
            .card-body
              .card-title= concert.title
              .card-text(style="text-align:left;") 
                | Ngày khởi chiếu: #{moment(concert.start_date).format('DD/MM/YYYY')} - #{moment(concert.end_date).format('DD/MM/YYYY')}
              .card-text(style="text-align:left;")
                | Giờ chiếu #{concert.start_time} - #{concert.end_time}