form(action=action method=method)
  .form-group
    label(for="title") Title:
    input.form-control(
      type="text"
      id="title"
      name="title"
      value=concert.title
    ) 
    
  .form-group
    label(for="content") Content:
    textarea.form-control(
      type="text"
      id="content"
      name="content"
    ) 
  
  .form-group
    label(for="img_link") Poster image link:
    input.form-control(
      type="text"
      id="img_link"
      name="img_link"
      value=concert.img_link
    )

  .form-group
    label(for="img_link") Seat image url:
    input.form-control(
      type="text"
      id="seat_image_url"
      name="seat_image_url"
      value=concert.seat_image_url
    )


  .form-row
    .form-group.col-lg-4.col-md-12
      label(for="note") Note:
      input.form-control(
        type="text"
        id="note"
        name="note"
        value=concert.note
      )

    .form-group.col-lg-4.col-md-12
      label(for="tickets") Number of ticket:
      input.form-control(
        type="text"
        id="tickets"
        name="tickets"
        value=concert.tickets
      )

    .form-group.col-lg-4.col-md-12
      label(for="displayOrder") Display order:
      input.form-control(
        type="number"
        id="displayOrder"
        name="displayOrder"
        value=concert.displayOrder
      )


  button.btn.btn-primary(type="submit" value="Submit") Submit


script(type="text/javascript").
  var newContent = `!{concert.content}`
  
  var simpleMDE = new SimpleMDE({
    element: $('#content')[0],
    initialValue: newContent
  });