extends ../layouts/layout

block content
  .container
    .row
      .col-lg-12.col-sm-12
        img.img-fluid.card-image-top.concert-photo(src=concert[0].img_link style="width:100%")

      .col-lg-12.col-sm-12.pb-2
        h1.concert-title.text-center= concert[0].title
        .concert-ticket.pt-2 Số ghế: #{concert[0].tickets}

        .concert-note.pt-2 
          | Thể loại: #{concert[0].note}
          
        .concert-note.pt-2 
          | Xuất Diễn :
        ul
        each detail in concert[0].commenceddatesDetails
          li #{detail.start_time}  - #{moment(detail.start_date).format('DD/MM/YYYY')}


      br      
      .col-lg-12.col-sm-12
        h2 Nội Dung
        
        .concert-content.pt-2 !{concert[0].content}