extends ../layouts/layout

block content
  .container
    .row
      .col-lg-12.col-sm-12
        img.img-fluid.card-image-top.concert-photo(src=concert.img_link style="width:100%")

      .col-lg-12.col-sm-12.pb-2
        h2.concert-title= concert.title
        .concert-ticket Số ghế: #{concert.tickets}

        .concert-note Thể loại: #{concert.note}

      br      
      .col-lg-12.col-sm-12
        h2 Nội Dung
        
        .concert-content.pt-2 !{concert.content}