extends ../layouts/layout

block content
  .container
    .row
      .col-lg-12.col-sm-12
        img.img-fluid.card-image-top.concert-photo(src=concert[0].img_link style="width:100%")

      .col-lg-12.col-sm-12.pb-2
        h1.concert-title.text-center= concert[0].title
        .concert-ticket.pt-2 Số ghế: #{concert[0].tickets}

        .concert-note.pt-2 
          | Thể loại: #{concert[0].note}
          
        .concert-note.pt-2 
          | Xuất Diễn :
        ul
        each detail in concert[0].commenceddatesDetails
          li #{detail.start_time}  - #{moment(detail.start_date).format('DD/MM/YYYY')}


      br      
      .col-lg-12.col-sm-12
        h2 Nội Dung
        
        .concert-content.pt-2 !{concert[0].content}

  .container 
    - var seat_image_link = (concert[0].seat_image_url != "") ? concert[0].seat_image_url : "https://via.placeholder.com/700x500";

  .container
    h2.pt-2.text-center(style="text-transform: capitalize") Sơ đồ ghế ngồi 
    .row
      .col-lg-12.col-sm-12.text-center

        img.img-fluid.seat-concert-img(src=seat_image_link)
        
  .container
    h3.pt-5.text-center(style="text-transform: uppercase;") Xem vở kịch khác

    #carouselRelatedConcert.carousel.slide(data-ride='carousel')
      .carousel-inner(role="listbox")
        - var divClass = null
        each relatedConcert, index in relatedConcerts
          if (index == 0)
            - divClass = "carousel-item active"
          else
            - divClass = "carousel-item"
          div(class=divClass)

            .card.mt-4.border-2.text-center
              img.card-img-top.concert-img-card-display(src=relatedConcert.img_link)

              .card-body.text-center
                .concert-title-card-display
                  .card-title 
                    a(href="/concerts/" + relatedConcert._id) #{relatedConcert.title}
      
      a.carousel-control-prev.btn-floating.light-blue.darken-4(href='#carouselRelatedConcert', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselRelatedConcert', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
