extends ../layouts/layout

block content
  .container
    .row
      .col-lg-12.col-sm-12
        img.img-fluid.card-image-top.concert-photo(src=concert[0].img_link style="width:100%")

      .col-lg-12.col-sm-12.pb-2
        h2.concert-title= concert.title
        .concert-ticket Số ghế: #{concert[0].tickets}

        .concert-note 
          | Thể loại: #{concert[0].note}
          
        .concert-note.pt-2 
          | Xuất Diễn :
        ul
        each detail in concert[0].commenceddatesDetails
          li #{detail.start_time}  - #{moment(detail.start_date).format('DD/MM/YYYY')}


      br      
      .col-lg-12.col-sm-12
        h2 Nội Dung
        
        .concert-content.pt-2 !{concert[0].content}