extends ../layouts/layout 

block content
  br
  .container
    h1 Create the referral article
    form(action="referrals" method="POST")
      .form-group
        label(for="Title") Title
        input.form-control(
          type="text"
          id="title"
          name="title"
        )
      
        .form-group
        label(for="Url") Article url
        input.form-control(
          type="url"
          id="url"
          name="url"
        )
      
      button.btn.btn-primary(type="submit" value="Submit") Submit