extends ../layouts/layout

block content
  br
  .container
    .artist-name 
      h2= artist.name
    .artist-image
      img.img-fluid.artist-profile-image.rounded(src=artist.profile_img_link)

    .artist-bio.mt-5 !{artist.bio}
  
  .container
    h3.pt-2.text-center.pb-2(style="text-transform: uppercase;") Xem nghệ sĩ khác
    
    #carouselRelatedArtists.carousel.slide.pt-3(data-ride='carousel')
      .carousel-inner(role="listbox")
        - var divClass = null
        each relatedartist, index in relatedArtists
          if ((index % 4) == 0  )
            if (index == 0)
              - divClass = "carousel-item active"
            else
              - divClass = "carousel-item "

            div(class=divClass)
              .row
                each data, j in relatedArtists
                  if ((j - index >= 0) && (j -index) < 4)
                      .col-lg-3.col-sm-6
                        .card.mt-4.border-0
                          .artist-image
                            img.rounded-circle.artist-thumbnail-avatar(src=data.profile_img_link)
                          .card-body
                            .artist-name= data.name
                            .artist-details
                              a.btn.btn-primary(href="/artists/" + data._id) Xem

      a.carousel-control-prev(href='#carouselRelatedArtists', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselRelatedArtists', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
